@model MovieModel


@{
    ViewBag.Title = "Add Movie";
}

<h2>Add New Movie</h2>

<form asp-controller="Movies" asp-action="AddMovie" method="post">
   <input type="hidden" />
    <div>
        <label asp-for="Title">Title</label>
        <input asp-for="Title" required />
    </div>
    <br />
    <div>
        <label asp-for="CategoryID">Category</label>
        <select asp-for="CategoryID">
            <option>Miscellaneous</option>
            <option>Drama</option>
            <option>Television</option>
            <option>Horror/Suspense</option>
            <option>Comedy</option>
            <option>Family</option>
            <option>Action/Adventure</option>
            <option>VHS</option>
        </select>
    </div>
    <br />
    <div>
        <label asp-for="Year">Year</label>
        <input asp-for="Year" required type="number" />
    </div>
    <br />
    <div>
        <label asp-for="Director">Director</label>
        <input asp-for="Director" required />
    </div>
    <br />
    <div>
        <label asp-for="Rating">Rating</label>
        <select asp-for="Rating">
            <option>G</option>
            <option>PG</option>
            <option>PG-13</option>
            <option>R</option>
        </select>
    </div>
    <br />
    <div>
        <label asp-for="Edited">Edited</label>
        <select asp-for="Edited">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
    </div>
    <br />
    <div>
        <label asp-for="LentTo">Lent To (Optional)</label>
        <input asp-for="LentTo" />
    </div>
    <br />
    <div>
        <label asp-for="Notes">Notes (Optional)</label>
        <input asp-for="Notes" maxlength="25" />
    </div>
    <br />
    <button type="submit">Submit</button>
</form>
