@model MovieModel

<h2>Delete Confirmation</h2>

<form method="post">
    <h3>Are you sure you want to delete this movie:</h3>
    <div>
        <h4>@Model.Title</h4>

    </div>

    <input type="hidden" asp-for="MovieId"/>
    <button type="submit" class="btn btn-danger">Delete</button>
    <a class="btn btn-info" asp-controller="Movies" asp-action="ListMovies">Cancel</a>
</form>
