@{
    ViewBag.Title = "Get to Know Joel";
}

<div>
    <p>
        <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
    </p>
    <br />
    <p>
        <a href="https://baconsale.com/">BaconSale</a>
    </p>
    <br />
    <p>
        <a href="https://baconsale.com/">
            <img src="/img/BaconsaleKate.jpg" alt=BaconSale/>
        </a>
    </p>
</div>
